.user_card {
  margin-bottom: 20px;
  .img-box {
    text-align: center;
    img {
      height: 300px;
    }
  }
  .card-items {
    display: flex;
    align-items: center;
  }
}

.todo-form-wrap {
  .label-text {
    margin: 0;
  }
  .todo-form-content {
    display: flex;
    margin-bottom: 30px;
  }
}

.todo-list-card {
  .list-menu {
    padding-left: 5px;
  }
  .font-red {
    color: tomato;
  }
}